[submodule "deps/happly"]
	path = deps/happly
	url = https://github.com.cnpmjs.org/nmwsharp/happly.git
[submodule "deps/eigen-git-mirror"]
	path = deps/eigen-git-mirror
	url = https://github.com.cnpmjs.org/eigenteam/eigen-git-mirror.git
